.my-name {
    color: white;
    font: 25px Times, serif;
    margin-top: 20px;
}

.navbar {
    font-family: Times, serif;
}

.ant-divider,
.ant-divider-horizontal {
    margin: 0;
}

.content {
    /* width: 80%; */
    /* margin: auto; */
    /* height: 100vh; */
}