.contact-main {
    display: flex;
    flex-direction: column;
    font-family: Times, serif;
    width: 80%;
    margin-left: 10%;
}

.contact-title {
    font-size: 70px;
    color: black;
    font-weight: bolder;
}

.label {
    font-size: 24px;
}

.success-msg {
    color: #57A773;
    padding: 10px 15px;
}

.err-msg {
    color: #EE6352;
    padding: 10px 15px;
    ;
}