.about-main {
    display: flex;
    flex-direction: column;
    font-family: Times, serif;
    width: 80%;
    margin: auto;
}

.about-title {
    font-size: 100px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
}

.about-content {
    margin-bottom: 70px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 18px;
}