.about-main {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin: auto;
}

.about-img {
    margin: auto;
    margin-bottom: 60px;
    margin-top: 30px;
    width: auto;
    height: auto;
    max-width: 864px;
    max-height: 356px;
}

.about-content {
    margin-bottom: 100px;
}

.about-content>h1 {
    font-size: 35px;
}

.about-content>p,
.about-content>span {
    font-size: 22px;
}

@media only screen and (max-width: 1200px) {
    .about-img {
        width: 100%;
        height: 100%;
    }
    .about-content>h1 {
        font-size: 30px;
    }
    .about-content>p,
    .about-content>span {
        font-size: 19px;
    }
}


/* 
@media only screen and (max-width: 840px) {
    .about-content>h1 {
        font-size: 30px;
    }
    .about-content>p,
    .about-content>span {
        font-size: 18px;
    }
} */