.about-main {
    display: flex;
    flex-direction: column;
    font-family: Times, serif;
}

.about-title {
    font-size: 70px;
    color: black;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 18px;
}