.my-name {
    color: white;
    font: 25px Times, serif;
    margin-top: 20px;
}

.content {
    margin-top: 64px;
    padding: 0 50px;
    background-color: white;
    overflow: auto;
    /* margin-bottom: 50px; */
}

.navlink:hover {
    text-decoration: none;
}

a.navlink {
    background-color: black;
}

.navlink-active {
    background-color: black;
}