.my-name {
    color: white;
    font: 27px Times, serif;
    margin-top: 20px;
}

.content {
    margin-top: 64px;
    padding: 0 50px;
    background-color: white;
    margin-bottom: 150px;
}

.navlink:hover {
    text-decoration: none;
}

a.navlink {
    background-color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.navlink-active {
    background-color: black;
}

.ant-menu,
.ant-menu-dark,
.ant-menu-item-selected {
    background-color: black !important;
}

.footer {
    font-family: Times, serif;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}