.contact-main {
    display: flex;
    flex-direction: column;
    font-family: Rale way;
    width: 80%;
    margin: auto;
}


/* .contact-title {
    font-size: 100px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
} */

.contact-img {
    margin: auto;
    margin-bottom: 60px;
}

.contact-forms {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}

.label {
    font-size: 24px;
}

.success-msg {
    color: #57A773;
    padding: 10px 15px;
}

.err-msg {
    color: #EE6352;
    padding: 10px 15px;
    ;
}