.contact-main {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin: auto;
}

.contact-img {
    margin: auto;
    margin-bottom: 60px;
    margin-top: 30px;
    width: auto;
    height: auto;
    max-width: 864px;
    max-height: 356px;
}

.contact-forms {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}

.label {
    font-size: 24px;
}

.success-msg {
    color: #57A773;
    padding: 10px 15px;
}

.err-msg {
    color: #EE6352;
    padding: 10px 15px;
    ;
}

@media only screen and (max-width: 1200px) {
    .contact-img {
        width: 100%;
        height: 100%;
    }
}