.contact-main {
    display: flex;
    flex-direction: column;
    font-family: Times, serif;
    width: 80%;
    margin: auto;
}

.contact-title {
    font-size: 100px;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.contact-forms {
    width: 60%;
    margin: auto;
}

.label {
    font-size: 24px;
}

.success-msg {
    color: #57A773;
    padding: 10px 15px;
}

.err-msg {
    color: #EE6352;
    padding: 10px 15px;
    ;
}