.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.home-content-1-title,
.home-content-2-title {
    margin-bottom: 20px;
}

.home-content-2-skill {
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.home-content-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.carousel-item {
    text-align: center;
}

.ant-modal-body {
    min-height: 100%;
}

.dashboard-image,
.chartApp-image {
    width: 752px;
    height: 502px;
}

@media only screen and (min-width: 1200px) {
    .home-content {
        width: 1100px;
    }
    .home-content-1,
    .home-content-2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
        justify-content: space-between;
    }
    .img1 {
        margin-right: 100px;
    }
    .img2 {
        margin-left: 100px;
    }
    .home-content-2-content {
        display: flex;
    }
    .skills-left,
    .skills-right {
        width: 50%;
        margin-left: 20px;
        margin-top: 10px;
    }
    .skills>h4 {
        margin-bottom: 0;
    }
    .home-projects {
        width: 100%;
        background-color: #333333;
        max-height: 502px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .home-content {
        width: 70%;
    }
    .home-content-1,
    .home-content-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        /* justify-content: center; */
        align-items: center;
    }
    .home-content-2-skill {
        order: 2;
        /* width: 100%; */
    }
    .img2 {
        order: 1;
    }
    .home-content-2-content {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 840px) {
    .img1,
    .img2,
    .img3 {
        width: 75px;
        height: 75px;
    }
    .skills>h4 {
        font-size: 20px;
    }
    .home-projects {
        width: 90%;
        height: 90%;
    }
    .dashboard-image,
    .chartApp-image {
        width: 100%;
        height: 100%;
    }
}