.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    height: 100vh;
    /* margin-bottom: 240px; */
}


/* .project-dashboard,
.project-ChartApp {
    width: 100%;
} */

.project-content {
    display: flex;
}

.project-title>h1 {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.project-description {
    font-family: "Poppins", sans-serif;
    width: 500px;
}

.project-website,
.project-environment,
.project-date {
    display: inline-block;
    width: 120px;
}

.project-content-images img {
    width: 800px;
    height: 396px;
}

.project-content-images {
    width: 75%;
    height: 396px;
}

@media only screen and (max-width: 1400px) {
    .project-content {
        display: flex;
        flex-direction: column;
    }
    .project-description {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .project-content-images {
        width: 75%;
        height: 75%;
    }
    .project-content-images img {
        width: 100%;
        height: 100%;
    }
}