@media only screen and (min-width: 1300px) {
    .project-dashboard,
    .project-ChartApp {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
    }
    .project {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        ;
        /* width: 1600px; */
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    /* .project-title {} */
    .project-content {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    .project-content-images img {
        width: 800px;
        height: 396px;
    }
    /* 
.project-content-images {
    height: 396px;
} */
    .project-description {
        margin-left: 40px;
        font-family: "Poppins", sans-serif;
        width: 700px;
    }
    .project-description>p {
        font-size: 22px;
    }
    .project-website,
    .project-environment,
    .project-date {
        display: inline-block;
        width: 150px;
    }
}

@media only screen and (max-width: 1300px) {
    .project-content {
        display: flex;
        flex-direction: column;
    }
}


/* 

.project {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.project-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-title>h1 {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}





.project-description>h2 {
    font-size: 27px;
}

@media only screen and (max-width: 1000px) {
    .project {
        width: 80%;
    }
    .project-content {
        display: flex;
        flex-direction: column;
    }
    .project-description {
        margin-top: 30px;
    }
}

*/